In [8]:
import seaborn as sns
planets =sns.load_dataset("planets")
df=planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [4]:
#veri setinde hiç eksik gözlem var mı 
df.isnull().values.any()#=>isnull bir sorgulama yaptı degerler üzerinde sorguklama yap herhangi üzerinde bir tane varsa bir hata ver

True

In [5]:
df.isnull().sum()#tüm degişkenlerideki eksik degerleri ver

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [6]:
#df["degisken_ismi"].fillna(0,inplace=True)  ,bu yazımla ilgili degişkenlerdeki ilgili 'eksik' degerler uçmuş oldu

SyntaxError: invalid syntax (<ipython-input-6-98e61cc95e1a>, line 1)

In [9]:
#number 0 olsaydı burada yazımda veri yapısında sorun ver demektir

Object `.sns.displot` not found.