# sqlite3

In [8]:
import pandas as pd

In [1]:
import sqlite3

In [2]:
conn=sqlite3.connect('vbo.db')

In [3]:
c=conn.cursor()

In [4]:
?c

Type:        Cursor
String form: <sqlite3.Cursor object at 0x000001E0FEE3EB20>
File:        c:\users\lenovo\anaconda3\lib\sqlite3\__init__.py
Docstring:   SQLite database cursor class.

In [6]:
#read_sql

In [9]:
pd.read_sql("SELECT COUNT(CustomerID) AS MUSTERI_SAYISI,Country FROM Customers GROUP BY Country;",conn)

    MUSTERI_SAYISI      Country
0                3    Argentina
1                2      Austria
2                2      Belgium
3                9       Brazil
4                3       Canada
5                2      Denmark
6                2      Finland
7               11       France
8               11      Germany
9                1      Ireland
10               3        Italy
11               5       Mexico
12               1       Norway
13               1       Poland
14               2     Portugal
15               5        Spain
16               2       Sweden
17               2  Switzerland
18               7           UK
19              13          USA
20               4    Venezuela

In [14]:
#conn.close()

In [15]:
c.execute("SELECT CustomerName FROM Customers LIMIT 5;")

In [16]:
c.fetchone()

('Alfreds Futterkiste',)

In [17]:
c.fetchall()

[('Ana Trujillo Emparedados y helados',),
 ('Antonio Moreno Taquería',),
 ('Around the Horn',),
 ('Berglunds snabbköp',)]

In [18]:
for row in c.execute('SELECT CustomerName FROM Customers LIMIT 5;'):
    print(row)

('Alfreds Futterkiste',)
('Ana Trujillo Emparedados y helados',)
('Antonio Moreno Taquería',)
('Around the Horn',)
('Berglunds snabbköp',)