In [5]:
#apply
#degişkenler üzerinde gezinme yetenegi olan 
#ve toplulaştırma yetenegi bir fonksiyon

In [2]:
import numpy as np
import pandas as pd

In [9]:
df=pd.DataFrame({'gruplar':['a','b','c','a','b','c'],
                'degisken1':[10,23,33,22,11,99],
                'degisken2':[100,253,333,262,111,969]},
               columns=['gruplar','degisken1','degisken2'])
df

  gruplar  degisken1  degisken2
0       a         10        100
1       b         23        253
2       c         33        333
3       a         22        262
4       b         11        111
5       c         99        969

In [6]:
df.apply(np.sum)#degişken bazında apply kullanımı

degisken1     198
degisken2    2028
dtype: int64

In [8]:
df.apply(np.mean)

degisken1     33.0
degisken2    338.0
dtype: float64

In [12]:
df.groupby("gruplar").apply(np.mean)#gruplar bazında inceleme

         degisken1  degisken2
gruplar
a             16.0      181.0
b             17.0      182.0
c             66.0      651.0