In [1]:
#numpy =>fixtype
#pandas=>veri analizini ve veri manipülasyonunu ileri seviyede işlem yapabiliyoruz

In [2]:
import pandas as pd

In [3]:
l=[1,2,39,67,90]

In [4]:
l

[1, 2, 39, 67, 90]

In [5]:
pd.DataFrame(l,columns=["degisken_ismi"])

   degisken_ismi
0              1
1              2
2             39
3             67
4             90

In [8]:
import numpy as np
m=np.arange(1,10).reshape((3,3))

In [9]:
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [10]:
pd.DataFrame(m,columns=["var1","var2","var3"])#önce numpy da oluşturduk sonra da isim degiştirip pandas şeklinde işleme tabi tuttuk

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [ ]:
#data frame isimlendirme

In [12]:
df=pd.DataFrame(m,columns=["var1","var2","var3"])
df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [13]:
df.columns#degişken isimlerini getiriyor

Index(['var1', 'var2', 'var3'], dtype='object')

In [14]:
df.columns=("aa","bb","cc")#kolayca isim degişimi yaptık burada
df

   aa  bb  cc
0   1   2   3
1   4   5   6
2   7   8   9

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['aa', 'bb', 'cc'], dtype='object')]

In [17]:
df.shape

(3, 3)

In [18]:
df.ndim

2

In [19]:
df.size

9

In [20]:
df.values#data frame tipin de olan verileri alıp kendi numpy arraylerine çevirdi

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [21]:
type(df.values)

numpy.ndarray

In [22]:
df.head()

   aa  bb  cc
0   1   2   3
1   4   5   6
2   7   8   9

In [23]:
df.tail(2)#tersten erişme yapmak istersek

   aa  bb  cc
1   4   5   6
2   7   8   9

In [24]:
a=np.array([1,2,3,4,5])

In [25]:
pd.DataFrame(a,columns=["degil"])#numpy array üzerinde bir data frame oluşturduk

   degil
0      1
1      2
2      3
3      4
4      5