Gözlem ve Degişken seçimi=Loc & iloc

In [3]:
import numpy as np
import pandas as pd
m=np.random.randint(1,30, size=(10,3))
df=pd.DataFrame(m,columns=["var1","var2","var3"])
df

   var1  var2  var3
0    20     8    14
1    22    15    25
2     7     4    23
3     3    23    22
4    12    22    15
5    14    24    21
6     4    29    12
7    26    11     4
8    22    22    29
9    22     8    20

In [4]:
#loc :tanımlandıgı şekli ile seçim yapmak için kullanılır

In [5]:
df.loc[0:3]

   var1  var2  var3
0    20     8    14
1    22    15    25
2     7     4    23
3     3    23    22

In [6]:
#iloc:alışık oldugumuz indexleme mantıgı ile seçim yapar

In [7]:
df.iloc[0:3]

   var1  var2  var3
0    20     8    14
1    22    15    25
2     7     4    23

In [8]:
df.iloc[:3,:2]#sadece indexlere göre seçim yapmak istersek

   var1  var2
0    20     8
1    22    15
2     7     4

In [9]:
df.loc[0:3,"var3"]

0    14
1    25
2    23
3    22
Name: var3, dtype: int32

In [ ]:
#indexlerin isimlerine göre seçme yapmak istersek loc kullanırız

In [10]:
df.iloc[0:3]["var3"]

0    14
1    25
2    23
Name: var3, dtype: int32

In [ ]:
#eger verilen kurallara baglı bir seçim işi varsa(gözlem ve degişken isimlendirmeleri acısından) loc 
#eger verilen isimlendirmelerden bagımsız,alışık oldugumuz index mantıgı ile seçim yapmak istersek iloc kullanırız