**Koşullu Eleman İşlemleri**

In [1]:
import numpy as np
import pandas as pd
m=np.random.randint(1,30,size=(10,3))
df=pd.DataFrame(m,columns=["var1","var2","var3"])
df

   var1  var2  var3
0    24    26    10
1    12    29     9
2     1    23    28
3    28     4     7
4     1     1    16
5     6    24    13
6    28     7     9
7     8    11     4
8    15    22     3
9     7    29     3

In [2]:
df["var1"]

0    24
1    12
2     1
3    28
4     1
5     6
6    28
7     8
8    15
9     7
Name: var1, dtype: int32

In [5]:
df[0:2]["var1","var3"]#böyle çalışmaz fancy kullanmamız lazım

KeyError: ('var1', 'var3')

In [6]:
df[0:2][["var1","var2"]]#burada fancy kullandık

   var1  var2
0    24    26
1    12    29

In [7]:
df.var1#bu da degişken seçmek için kullanılır

0    24
1    12
2     1
3    28
4     1
5     6
6    28
7     8
8    15
9     7
Name: var1, dtype: int32

In [9]:
df[df.var1>15]#var1 içinde degerleri 15 ten büyük olanları seçtik

   var1  var2  var3
0    24    26    10
3    28     4     7
6    28     7     9

In [10]:
df[df.var1>15]["var2"]#birden fazla seçmek istersek bu şekilde

0    26
3     4
6     7
Name: var2, dtype: int32

In [11]:
df

   var1  var2  var3
0    24    26    10
1    12    29     9
2     1    23    28
3    28     4     7
4     1     1    16
5     6    24    13
6    28     7     9
7     8    11     4
8    15    22     3
9     7    29     3

In [13]:
df[(df.var1>15)&(df.var3<10)]#hem 3 te hemde 1 de saglanan tabloyu bize getirdi

   var1  var2  var3
3    28     4     7
6    28     7     9

In [14]:
df.loc[(df.var1>15),["var1","var2"]]#bu şekilde de birden fazla elemanı şartlı şekilde seçme işlemi yapabiliriz

   var1  var2
0    24    26
3    28     4
6    28     7

In [15]:
df[(df.var1>15)][["var1","var2"]]#bu da başka bir yolu

   var1  var2
0    24    26
3    28     4
6    28     7